<h1 class="border-bottom"><%= @cocktail.name %></h1>
<br>

<ol>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %>
      <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ol>


<%= render 'doses/new', cocktail: @cocktail, dose: @dose %>
<%= link_to 'Back to Cocktails', root_path, class: "btn btn-primary btn-round mt-2" %>
