<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon">
      <div class="d-flex justify-content-around">
        <%= link_to root_path  %>
        <a class="navbar-brand" href="#">
          <img src="https://assets.punchdrink.com/wp-content/uploads/2019/06/14093847/Article-Fever-Tree-Cucumber-Tonic-Cocktail-Recipe-Cool-Aunt-Pimm.jpg" class='rounded-circle'/>
        </a>
        <form class="form-inline ">
          <input class="form-control mr-sm-2" type="search" placeholder="What cocktail do you want?" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ingredients</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
